.chats {
    flex-grow: 1;
    background-color: #fff;  
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    overflow-y: auto;
    max-height: calc(100vh - 64px);
}


.wave {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(34, 34, 34, 0.2);
    transform: scale(0);
    animation: wave-effect 0.6s linear;
    pointer-events: none;
}

@keyframes wave-effect {
    to {
        transform: scale(4);
        opacity: 0;
    }
}


.chat {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.content {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.material-icons { 
    color: #fff; 
    cursor: pointer;
}

.crop-container {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.header {
    background: rgb(142,36,170);
    background: linear-gradient(0deg, rgba(142,36,170,1) 0%, rgba(205,159,217,1) 170%); 
    display: flex;
    align-items: center;
    padding: 20px;
    max-height: 64px;
}

.header__main {
    font-size: 1.3rem;
    color: #fff;
    padding-left: 25px;
    flex-grow: 1;
}

.header__right-icon {
    padding-left: 25px;
}

.float-button {
    background-color: #f9d667;
    border-radius: 30px;
    font-size: 40px;
    color: #72612e;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.chat {
    display: flex;
    flex-direction: row;

    background-color: #fff;
    align-items: center;
    margin-top: 5px;
    min-height: 60px;
}

.chat__underline {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.chat__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}

.chat__main {
    flex-grow: 1;
}

.chat__side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat__time {
    color: #767676;
}

.chat__name {
    color: #2a2a2a;
}

.chat__text {
    color: #6c6c6c;
}

.chat__status {
    margin-left: 5px;
}

.status {
    font-size: 18px;
    color: #9837b0;
}

.pulse {
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
